.env
.freebuff/

# Генерируются init.sh из *.tpl.*-шаблонов (домен подставляется из DOMAIN).
traefik/traefik.yaml

structurizr/structurizr.properties
image-updates/cup.json
home/config/settings.yaml
element/element-web/config.json
netdata/config/go.d/prometheus.conf
