listening-port=${TURN_PORT}
listening-ip=0.0.0.0
relay-ip=192.0.2.10
external-ip=192.0.2.10

realm=${TURN_REALM}
use-auth-secret
static-auth-secret=${TURN_SECRET}

user=${TURN_USER}:${TURN_PASSWORD}

log-file=stdout
verbose

no-multicast-peers
no-cli
no-tls
no-tlsv1
no-tlsv1_1

proc-quota=20
total-quota=100
stale-nonce=600
max-bps=0

min-port=${TURN_RELAY_MIN_PORT}
max-port=${TURN_RELAY_MAX_PORT}
