APPS_STORAGE_PATH=/storage/apps
PAPERLESS_HOST=paperless.example.com
PAPERLESS_SECRET_KEY=changeme
POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=changeme
PAPERLESS_OCR_LANGUAGE=rus
PAPERLESS_OCR_LANGUAGES=rus
USERMAP_UID=1000
USERMAP_GID=1000
