server_name: "example.net"
report_stats: false
pid_file: /data/homeserver.pid
listeners:
  - port: 8080
    tls: false
    type: http
    bind_addresses:
      - 0.0.0.0
    resources:
      - names: [client, federation]
        compress: true

database:
  name: psycopg2
  args:
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    database: ${POSTGRES_DB}
    host: db
    cp_min: 5
    cp_max: 10

redis:
  enabled: true
  host: redis
  port: 6379

media_store_path: /data/media_store
upload_size: 104857600

url_preview_enabled: true
url_preview_ip_range_blacklist:
  - 127.0.0.0/8
  - 10.0.0.0/8
  - 172.16.0.0/12
  - 192.0.2.10/16

enable_registration: false
enable_registration_without_verification: false

bcrypt_rounds: 12

password_config:
  enabled: true
  min_length: 8

rc_message:
  per_second: 0.5
  burst_count: 30

rc_login:
  address:
    per_second: 0.17
    burst_count: 5
  account:
    per_second: 0.17
    burst_count: 5
  failed_login:
    per_second: 0.17
    burst_count: 5

rc_delayed_event_mgmt:
  per_second: 1
  burst_count: 20

experimental_features:
  msc3266_enabled: true
  msc4143_enabled: true
  msc4222_enabled: true

max_event_delay_duration: 24h

turn_uris:
  - turn:${SYNAPSE_HOST}:${TURN_PORT}?transport=udp
  - turn:${SYNAPSE_HOST}:${TURN_PORT}?transport=tcp
turn_shared_secret: ${TURN_SECRET}
turn_user_lifetime: 1h

matrix_rtc:
  transports:
    - type: livekit
      livekit_service_url: https://${LIVEKIT_HOST}/livekit/jwt

max_upload_size: 104857600
max_image_pixels: 26214400
max_spider_size: 1048576

federation:
  client_maximum_delay: 0

presence:
  enabled: true

retention:
  enabled: false

push:
  enabled: true
