MAILSERVER_HOST=mailserver.${DOMAIN}
MAIL_HOST=mail.${DOMAIN}

STALWART_ADMIN_USER=admin
STALWART_ADMIN_PASS=replace-with-output-of-openssl-rand-base64-32

STALWART_METRICS_USERNAME=metrics
STALWART_METRICS_PASSWORD=replace-with-output-of-openssl-rand-base64-32